@model Quick_Med_Kit.Models.Medicament

@{
    ViewBag.Title = "Supprimer";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}
<div>
    <h1>Vous êtes Sûre de Supprimer Ce Médicament ??</h1>
    <br/>
    <br/>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" style="background-color:white" /> |
            @Html.ActionLink("Retourne au liste des Médicaments", "Index")
        </div>
    }
</div>
