<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="align-items: center;">
        <table>
            <tr>
                <td>
                    <img src="https://uc9c0b89c1db37c6c38a82b80abf.previews.dropboxusercontent.com/p/thumb/ABIP5o5gEXARMItafqmO1GP46LTiZRvDP7IJTRJntiZ2iSxgt1fklQnn6MrizdMeDqiPFrHSqe0zoEphOD6B2QFIaBOfGH1VIQemv_2BglFVkaoJILOc8XUNfP4xkF5f4g78WjdV_CKF_J4p3quhFk5iDKmWy3GRD8DOeZdgYphpBZ2iEqfzgUnxaD6pcNG71BPfTUSmGRYycAmN25HkhaQW6JVt7PJfaWQ7Mj8jRs1whbiuU7LQS-ta63EYxx_ncrnRdlkIriAPBUObt6iUcbyglBNF-zAGU5uLzzaD7eHWNboD_iV0ELkNF_RNcAZR10qRgxsdCklzQzPqgggm37Np_EBe0JE5GxC3kIfhxOYCqW90GSlB9e1wCakzdCAt0RAoIv4S-NZqogLRbWMYsrKK/p.png?fv_content=true&size_mode=5" style="height:100px;width:100px" />
                </td>
                <td>
                    <label style="font-size: 45px;-webkit-text-stroke: 3px;-webkit-text-stroke-color: #000;-webkit-text-fill-color: transparent;margin-top: 10px;text-decoration: underline;">Quick Med Kit</label>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <pre>
            Boujour Monsieur/Madame
                Nous juste besion de vérifier votre Adresse-Email pour bien complete votre registration!
                Click<a href="@ViewBag.ConfirmationLink">Ici</a>
        </pre>
    </div>
</body>
</html>
