@model IEnumerable<Quick_Med_Kit.Controllers.ShoppingCart>
@{
    Layout = null;
    decimal total= 0.00M;
    Decimal totala = 0.00M;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="~/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Panier</title>
    <style>
        label, tr, td {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <section>
        <div class="container text-center" style="background-color:darkseagreen;">
            <div class="row">
                <div class="col-md-12">
                    <label style="font-size: 70px;-webkit-text-stroke: 3px;-webkit-text-stroke-color: #000;-webkit-text-fill-color: transparent;margin-top: 10px;text-decoration: underline;">Bienvenue dans Votre Panier</label>
                </div>
            </div>
            <div class="row">
                @using (Html.BeginForm("AddOrder", "Médicament", FormMethod.Post))
                {
                    <table class="table-borderless" style="color: black;">
                        <tr style="border-bottom: solid 2px black;">
                            <td style="width: 700px;" colspan="2">Medicament & Description</td>
                            <td>Quantité</td>
                            <td>Prix Unitaire</td>
                            <td>Total</td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            total += item.Total;
                            totala = item.Prix * item.Quantity;
                            <tr style="border-bottom: solid 2px black;">
                                <td><img src="@Url.Content(item.ImagePath)" style="height: 90px;width: 90px;" /></td>
                                <td style="width:600px;"><p>@item.Description</p></td>
                                <td>
                                    <button class="btn btnmin" style="color: #000; font-size: 30px;">-</button>&nbsp;
                                    <label class="qnt">@item.Quantity</label>&nbsp;
                                    <button class="btn btnplus" style="color: #000; border: none; font-size: 30px;">+</button>
                                </td>
                                <td>
                                    <label id="mont">@item.Prix.ToString("#,##0.00") MAD</label>
                                </td>
                                <td>
                                    <label id="totala">@*@item.Prix.ToString("#,##0.00")*@ @totala MAD</label>
                                </td>
                            </tr>
                        }
                    </table>
                    @*<tr style="border-bottom: solid 2px black;">
                            <td><img src="~/images/masque-type1.jpg" style="height: 90px;width: 90px;" /></td>
                            <td style="width: 600px;">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In, fugiat sit quam nulla veritatis impedit, soluta
                                    asperiores odit dolores ex sint quidem, perspiciatis consectetur ad aperiam necessitatibus consequatur explicabo ab?
                                </p>
                            </td>
                            <td>
                                <button class="btn" style="color: #000; font-size: 30px;" type="submit" onclick="down()">-</button>&nbsp;
                                <label id="qnt">1</label>&nbsp;<button class="btn" style="color: #000; border: none; font-size: 30px;" type="submit" onclick="up()">+</button>
                            </td>
                            <td>
                                <label>25,00 MAD</label>
                            </td>
                            <td>
                                <label id="total1">25,00 MAD</label>
                            </td>
                        </tr>
                        <tr style="border-bottom: solid 2px black;">
                            <td><img src="./images/masque-type1.jpg" style="height: 90px;width: 90px;position: relative;" /></td>
                            <td style="width: 600px;">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In, fugiat sit quam nulla veritatis impedit, soluta
                                    asperiores odit dolores ex sint quidem, perspiciatis consectetur ad aperiam necessitatibus consequatur explicabo ab?
                                </p>
                            </td>
                            <td>
                                <button class="btn" style="color: #000; font-size: 30px;" type="submit" onclick="down2()">-</button>&nbsp;
                                <label id="qnt2">1</label>&nbsp;<button class="btn" style="color: #000; border: none; font-size: 30px;" type="submit" onclick="up2()">+</button>
                            </td>
                            <td>
                                <label>25,00 MAD</label>
                            </td>
                            <td>
                                <label id="total2">25,00 MAD</label>
                            </td>
                        </tr>*@
                    <div class="row" style="margin-bottom: 15px;margin-top: 15px;">
                        <div class="col-md-5"></div>
                        <div class="col-md-4">
                            <label style="color: black;font-size: 25px;" @*id="total3"*@>Total :@total MAD</label>
                        </div>
                        <div class="col-md-3">
                            <button class="btn" style="color: #000; border: #000 solid 2px; font-size: 20px;" onmouseover="this.style.background='#000';this.style.color='#fff';" onmouseout="this.style.background='none';this.style.color='#000';" type="submit" onclick="show()">Valider La Commande</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <script>
        function show() {
            if (Session["id_utilisateur"] == null) {
                alert('Vous devez se connecter pour realiser une commande');
            }
            else {
                alert('Votre Commznde est bien passé');
            }
        }
        //var temp = parseInt(document.getElementById('qnt').value);
        var mont = document.getElementById('mont').value;
        var totala = document.getElementById('totala').value;
        var btnMin = document.querySelectorAll(".btnmin");
        var btnPlus = document.querySelectorAll(".btnplus");
        var qnt = document.querySelectorAll(".qnt");
        for (var i = 0; i < qnt.length; i++) {
            btnMin[i].addEventListener("click", function (e) {
                e.preventDefault();
                var qte = qnt[i].textContent;
                if (parseInt(qte) > 1) {
                    qte = parseInt(qte - 1);
                }
            });
            btnPlus[i].addEventListener("click", function (e) {
                e.preventDefault();
                qte = parseInt(qte) + 1;
            })
        }

        function down2() {
            if (temp2 == 1) {
                temp2 = 1;
            }
            else {
                mont2 = mont2 - 25;
                total = mont + mont2;
                temp2 = temp2 - 1;
                document.getElementById('qnt2').innerHTML = temp2;
                document.getElementById('total2').innerHTML = mont2 + ",00 MAD";
                document.getElementById('total3').innerHTML = "Total : " + total + " MAD";
            }
        }
    </script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js"></script>
</body>
</html>
